.titulo{
    background-color: cornflowerblue;
    min-width: 150px;
    border-radius: 8px;
    padding: 0px 12px;
}

.conteudo{
    background-color: rgb(219, 241, 219);
    min-width: 600px;
    border-radius: 8px;
    padding: 0px 12px;
}
.conteudopequeno{
    background-color: rgb(219, 241, 219);
    min-width: 200px;
    border-radius: 8px;
    padding: 0px 12px;
}

.conteudomuitopequeno{
    background-color: rgb(219, 241, 219);
    min-width: 100px;
    border-radius: 8px;
    padding: 0px 12px;
}

.botao{
    background-color: rgba(148, 140, 155, 0.76);
    border-radius: 8px;
    min-width: 50px;
    border: 0;
}